In [2]:
from whoosh.index import create_in
from whoosh.fields import *
from whoosh.qparser import QueryParser

In [3]:
schema = Schema(title=TEXT(stored=True), path=ID(stored=True), content=TEXT)
ix = create_in("indexdir", schema)

with ix.writer() as writer:
    writer.add_document(title=u"First document", content=u"This is the first document we've added!")
    writer.add_document(title=u"Second document", content=u"The second one is even more interesting!")

with ix.searcher() as searcher:
    query = QueryParser("content", ix.schema).parse("interesting")
    results = searcher.search(query)
    print(results)
    for r in results:
        print(r)

<Top 1 Results for Term('content', 'interesting') runtime=0.0007672940894377173>
<Hit {'title': 'Second document'}>

In [4]:
print(ix)

FileIndex(FileStorage('indexdir'), 'MAIN')

In [5]:
import pandas as pd
from pandas import Series, DataFrame

In [6]:
sen_docs = pd.read_csv("recent.csv")

In [7]:
schema = Schema(content=TEXT, id=ID(stored=True))
ix = create_in("indexdir", schema)

In [8]:
with ix.writer() as writer:
    for doc in sen_docs.iterrows():
        try:
            writer.add_document(content=doc[1].text, id=str(doc[1].id))
        except:
            pass

In [12]:
search_term = 'economy'

with ix.searcher() as searcher:
    query = QueryParser("content", ix.schema).parse(search_term)
    results = searcher.search(query)
    result_ids = []
    for r in results:
        result_ids.append(r['id'])
    results_df = sen_docs[sen_docs.id.isin(result_ids)]
results_df

,Unnamed: 0,id,text,time,urls,user
14296,498,1057671640643977216,Our economy is on a roll after #taxreform- we ...,1541003544,https://twitter.com/i/web/status/1057671640643...,21269970
16629,38,1059143740957360128,On Taxes &amp; The Economy:\n\nI promised to c...,1541354520,https://twitter.com/i/web/status/1059143740957...,15673703
20884,224,1038062800168513537,Good news for the economy! https://t.co/ZZRlz8...,1536328432,https://twitter.com/USATODAY/status/1038050562...,19658173
42075,500,1053304052224790528,More records broken as Alabamaâ€™s economy conti...,1539962230,https://twitter.com/i/web/status/1053304052224...,2253968388
42647,1072,1022850702572441606,The economy is BOOMING! Todays quarterly GDP n...,1532701585,https://twitter.com/i/web/status/1022850702572...,1240107944
54604,286,1055907736788049921,Exciting news on the economy today: The U.S. e...,1540582996,https://twitter.com/i/web/status/1055907736788...,377534571
55007,689,1058372207183888385,The economy keeps on growing! https://t.co/Mhh...,1541170572,NaN,252819323
60351,477,1054823484566716416,The. Economy. Is. Ripping.! https://t.co/B8X6S...,1540324491,https://www.newsday.com/business/long-island-l...,2750127259
60953,1079,1057694032422453254,â€œThe rock-solid jobs market and strong economy...,1541008882,https://twitter.com/i/web/status/1057694032422...,518644221
66168,653,1058340152098111488,The economy is on ðŸ”¥ #MAGA https://t.co/WoldUtBdL6,1541162929,https://twitter.com/FoxBusiness/status/1058337...,19739126

In [10]:
sen_docs[sen_docs.id==999398620523892738]

,Unnamed: 0,id,text,time,urls,user
49684,1150,999398620523892738,"#Abortion is not health care, &amp; vulnerable...",1527110173,https://twitter.com/i/web/status/9993986205238...,110545675